---
const { project } = Astro.props;
import technologies from '../../data/technologies.json';
import Breadcrumb from '@components/ui/Breadcrumb.astro';
import Badge from '@components/ui/Badge.astro';
import ChallgengeCard from '@components/ui/ChallgengeCard.astro';
import FeatureCard from '@components/ui/FeatureCard.astro';
import ProjectGallery from '@components/layout/ProjectGallery.astro';
import TableOfContents from '@components/ui/TableOfContents.tsx';
---

<section class="flex items-center justify-center">
  <div class="container text-black dark:text-white">
    <Breadcrumb />
    <div class="flex flex-col lg:flex-row justify-center items-stretch gap-6 my-10">
      <div class="w-full lg:2/3 rounded-md">
        <img src={project?.assets?.banner} alt={project?.title} 
        class="rounded-2xl w-full h-full" />
      </div>
      <div 
        class="
          w-full lg:w-1/3 flex flex-col items-start justify-start
          p-6
          rounded-2xl border border-zinc-300 dark:border-zinc-900
          bg-(--bg-card) dark:bg-(--bg-card-dark) text-black dark:text-white
      ">
        <h1 id="project-title" class="title-content text-2xl sm:text-3xl lg:text-2xl xl:text-3xl font-bold">{project?.title}</h1>
        <div class="flex flex-col items-start justify-center my-5">
          <p class="font-bold text-[15px] sm:text-base lg:text-sm xl:text-base" >Resumen: </p>
          <p class="text-[13px] sm:text-base lg:text-[12px] xl:text-sm dark:text-gray-300 text-gray-700">{project?.metadata?.summary ?? "N/A"}</p>
        </div>
        <p class="font-bold text-[13px] sm:text-base lg:text-[12px] xl:text-base" >Creado en: 
          <span class="font-normal text-[13px] sm:text-base lg:text-[12px] xl:text-sm dark:text-gray-300 text-gray-700">{project?.metadata?.created_at ?? "N/A"}</span>
        </p>
        <p class="font-bold text-[13px] sm:text-base lg:text-[12px] xl:text-base" >Cliente: 
          <span class="font-normal text-[13px] sm:text-base lg:text-[12px] xl:text-sm dark:text-gray-300 text-gray-700">{project?.metadata?.client ?? "N/A"}</span>
        </p>
        <p class="font-bold text-[13px] sm:text-base lg:text-[12px] xl:text-base" >Roles: 
          <span class="font-normal text-[13px] sm:text-base lg:text-[12px] xl:text-sm dark:text-gray-300 text-gray-700">{project?.metadata?.roles ?? "N/A"}</span>
        </p>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-stretch gap-6 my-10">
      <section class="w-full lg:w-3/4">
        <div class="flex flex-col items-start justify-start gap-3 mb-10 border border-zinc-300 dark:border-zinc-900 rounded-2xl p-6 bg-(--bg-card) dark:bg-(--bg-card-dark)">
          <h2 id="project-description" class="title-content text-2xl sm:text-3xl lg:text-2xl xl:text-3xl font-bold">¿Qué es {project?.title}?</h2>
          <p class="text-[13px] sm:text-base lg:text-[12px] xl:text-[16px] text-gray-700 dark:text-gray-300">{project?.content?.description ?? "N/A"}</p>
          <p class="font-bold text-[13px] sm:text-base lg:text-[12px] xl:text-base" >Tecnologías utilizadas</p>
          <div class="flex flex-wrap gap-2">
            {project?.tech_stack.map((technology: string) => (
              <Badge url_img={technologies.find(t => t.name === technology)?.url_img} text={technology} />
            ))}
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-3 mb-10 border border-zinc-300 dark:border-zinc-900 rounded-2xl p-6 bg-(--bg-card) dark:bg-(--bg-card-dark)">
          <h2 id="project-challenges" class="title-content text-2xl sm:text-3xl lg:text-2xl xl:text-3xl font-bold text-center">Retos</h2>
          <div class="flex flex-col items-center justify-center gap-4 my-10">
            {project?.content?.challenges.map((challenge: any) => (
              <ChallgengeCard 
                key={challenge.name} 
                name={challenge.name} 
                description={challenge.description} 
                solution={challenge.solution}
              />
            ))}
          </div>
        </div>
        <div 
          class=" 
            flex flex-col items-center justify-center 
            p-6 gap-3 mb-10 
            border border-zinc-300 dark:border-zinc-900 rounded-2xl
            bg-(--bg-card) dark:bg-(--bg-card-dark)
          ">
          <h2 id="project-features" class="title-content text-2xl sm:text-3xl lg:text-2xl xl:text-3xl font-bold text-center">Características</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 my-10">
            {project?.content?.features.map((feature: any) => (
              <FeatureCard 
                key={feature.name} 
                name={feature.name} 
                icon={feature.icon}
                description={feature.description}
              />
            ))}
          </div>
        </div>
        {
          (project?.gallery?.images.length > 0 && project?.gallery?.videos.length > 0) && (
            <ProjectGallery images={project?.gallery?.images ?? []} videos={project?.gallery?.videos ?? []} />
          )
        }
        <ProjectGallery images={project?.gallery?.images ?? []} videos={project?.gallery?.videos ?? []} />
      </section>
      <TableOfContents client:only="react" />
    </div>
  </div>
</section>